{% extends "base.html" %}

{% block title %}{{ namespace.name }}.{{ class.name }}::{{ signal.name }}{% endblock %}

{% block meta_other %}
  <meta property="og:title" content="{{ namespace.name }}.{{ class.name }}::{{ signal.name }}"/>
  <meta property="og:description" content="Reference for signal {{ namespace.name }}.{{ class.name }}::{{ signal.name }}"/>
  <meta name="twitter:title" content="{{ namespace.name }}.{{ class.name }}::{{ signal.name }}"/>
  <meta name="twitter:description" content="Reference for signal {{ namespace.name }}.{{ class.name }}::{{ signal.name }}"/>
{% endblock %}

{% block sidebar %}
<div class="section">
  <h5>Type</h5>
  <div class="links">
    <a href="{{ class.link_prefix }}.{{ class.name }}.html">{{ class.name }}</a>
  </div>
</div>
<div class="section">
  <h5>Signals</h5>
  <div class="links">
  {% for s in class.signals %}
    <a class="signal{% if s.name == signal.name %} current{% endif %}" href="signal.{{ class.name }}.{{ s.name }}.html">{{ s.name }}</a>
  {% endfor %}
  </div>
</div>
{% endblock %}

{% block content %}
<section id="main" class="content">
  <header>
    <h3>Signal</h3>
    <h1><a href="index.html">{{ namespace.name }}</a><span class="sep"></span><a href="{{ class.link_prefix }}.{{ class.name }}.html">{{ class.name }}</a>::{{ signal.name }}</h1>
  </header>

  <section>
    <div class="docblock">
      <p>
      {%- if CONFIG.is_unstable(signal.available_since) -%}
      <span class="emblem available-next" title="This signal will be available in the next stable release">unstable</span>&nbsp;
      {%- endif %}
      {%- if signal.deprecated_since -%}
      <span class="emblem deprecated">deprecated: {{ signal.deprecated_since.version }}</span>&nbsp;
      {%- endif -%}
      {%- if signal.available_since -%}
      <span class="emblem available">since: {{ signal.available_since }}</span>
      {%- endif -%}
      </p>
    </div>
    <div class="declaration toggle-wrapper">
      <h4 id="declaration">
        Declaration
        <a href="#declaration" class="anchor"></a>
      </h4>

      <div class="docblock">
        <pre><code>{{ signal.c_decl }}</code></pre>
      </div>
    </div>

    <div class="description toggle-wrapper">
      <h4 id="description" style="display:flex;">
        Description
        <a href="#description" class="anchor"></a>
        {% if CONFIG.source_location_url and signal.docs_location %}
        <a class="srclink" title="go to source location" href="{{ CONFIG.source_link(signal.docs_location) }}">[src]</a>
        {% endif %}
      </h4>

      <div class="docblock">
        {{ signal.description }}
      </div>

      <div class="docblock">
        <table>
          <tr><td>Default handler: {{ signal.when }}</td></tr>
          {% if signal.no_recurse %}
          <tr><td>Signal emission will restart instead of <a href="https://docs.gtk.org/gobject/flags.SignalFlags.html#no_recurse" class="external">recursing</a></td></tr>
          {% endif %}
          {% if signal.is_action %}
          <tr><td>Signal can be <a href="https://docs.gtk.org/gobject/flags.SignalFlags.html#action" class="external">directly emitted</a> on objects from user code</td></tr>
          {% endif %}
          {% if signal.is_detailed %}
          <tr><td>The signal can be <a href="https://docs.gtk.org/gobject/flags.SignalFlags.html#detailed" class="external">detailed</a></td></tr>
          {% endif %}
          {% if signal.no_hooks %}
          <tr><td><a href="https://docs.gtk.org/gobject/flags.SignalFlags.html#no_hooks" class="external">Hooks</a> are disabled for this signal</td></tr>
          {% endif %}
          {% if signal.stability %}
          <tr><td>Stability: {{ signal.stability }}</td></tr>
          {% endif %}
          {% if signal.available_since %}
          <tr><td>Available since: {{ signal.available_since }}</td></tr>
          {% endif %}
          {% if signal.deprecated_since %}
          <tr><td>Deprecated since: {{ signal.deprecated_since.version }}</td></tr>
          <tr><td>{{ signal.deprecated_since.message }}</td></tr>
          {% endif %}
        </table>
      </div>

      {% if signal.attributes %}
      <div class="docblock">
        <table>
        {% for (key, value) in signal.attributes.items()|sort %}
          <tr><td>{{ key|escape }}</td><td>{{ value|escape }}</td></tr>
        {% endfor %}
        </table>
      </div>
      {% endif %}
    </div>

    {% if signal.arguments|length != 0 %}
    <div class="parameters toggle-wrapper">
      <h4 id="parameters">
        Parameters
        <a href="#parameters" class="anchor"></a>
      </h4>

      <div class="docblock">
        <dl class="arguments">
          {% for arg in signal.arguments %}
          <dt class="arg-name"><code>{{ arg.name }}</code></dt>
          <dd class="arg-description">
            <p><em>Type:</em>&nbsp;
            {%- if arg.is_array -%}An array of&nbsp;{%- endif -%}
            {%- if arg.is_list -%}A list of&nbsp;{%- endif -%}
            {%- if arg.link -%}
            {{ arg.link|safe }}
            {%- else -%}
            <code>{{ arg.type_cname }}</code>
            {%- endif -%}
            </p>
            <p>{{ arg.description|safe }}</p>
            <table>
            {% if arg.direction != "in" %}<tr><td title="direction: {{ arg.direction}}">{{ arg.direction_note }}</td></tr>{% endif %}
            {% if arg.direction == "in" and arg.nullable %}<tr><td>The argument can be <code>NULL</code>.</td></tr>{% endif %}
            {% if arg.direction in ["inout", "out"] and arg.nullable %}<tr><td>The argument can be set to <code>NULL</code> by the signal handler.</td></tr>{% endif %}
            {% if arg.optional %}<tr><td>The argument can be <code>NULL</code>.</td></tr>{% endif %}
            {% if arg.is_array and arg.zero_terminated %}<tr><td>The array must be <code>NULL</code>-terminated.</td></tr>{% endif %}
            {% if arg.is_array and arg.fixed_size > 0 %}<tr><td>The array must have {{ arg.fixed_size }} elements.</td></tr>{% endif %}
            {% if arg.is_array and arg.len_arg %}<tr><td>The length of the array is specified in the <code>{{ arg.len_arg }}</code> argument.</td></tr>{% endif %}
            {% if arg.is_pointer %}<tr><td title="transfer: {{ arg.transfer }}">{{ arg.transfer_note }}</td></tr>{% endif %}
            {% if arg.string_note %}<tr><td>{{ arg.string_note }}</td></tr>{% endif %}
            </table>
          </dd>
          {% endfor %}

          {% if signal.throws %}
          <dt class="arg-name"><code>error</code></dt>
          <dd class="arg-description">
            <p><em>Type:</em>&nbsp;<code>GError **</code></p>
            <p>The return location for <a href="https://docs.gtk.org/glib/error-reporting.html#rules-for-use-of-gerror">a recoverable error</a>.</p>
            <table>
              <tr><td>The argument can be <code>NULL</code>.</td></tr>
              <tr><td>If the return location is not <code>NULL</code>, then you must initialize it to a <code>NULL</code> <code>GError*</code>.</td></tr>
              <tr><td>The argument will be left initialized to <code>NULL</code> by the signal handler if there are no errors.</td></tr>
              <tr><td>In case of error, the argument will be set to a newly allocated <code>GError</code>; the caller will take ownership of the data, and be responsible for freeing it.</td></tr>
            </table>
          </dd>
          {% endif %}
        </dl>
      </div>
    </div>
    {% endif %}

    {% if signal.return_value %}
    <div class="return-value toggle-wrapper">
      <h4 id="return-value">
        Return value
        <a href="#return-value" class="anchor"></a>
      </h4>

      <div class="docblock">
        <div class="returns">
          <div class="arg-description">
            <p><em>Type:</em>&nbsp;
            {%- if signal.return_value.is_array -%}An array of&nbsp;{%- endif -%}
            {%- if signal.return_value.is_list -%}A list of&nbsp;{%- endif -%}
            {%- if signal.return_value.is_list_model -%}A list model of&nbsp;{%- endif -%}
            {%- if signal.return_value.link -%}
            {{ signal.return_value.link|safe }}
            {%- else -%}
            <code>{{ signal.return_value.type_cname }}</code>
            {%- endif -%}
            </p>
            <p>{{ signal.return_value.description|safe }}</p>
          </div>
          <div>
            <table>
            {% if signal.return_value.is_array and signal.return_value.zero_terminated %}<tr><td>The array is <code>NULL</code>-terminated.</td></tr>{% endif %}
            {% if signal.return_value.is_array and signal.return_value.fixed_size > 0 %}<tr><td>The array has {{ signal.return_value.fixed_size }} elements.</td></tr>{% endif %}
            {% if signal.return_value.is_array and signal.return_value.len_arg %}<tr><td>The length of the array is in the <code>{{ signal.return_value.len_arg }}</code> argument.</td></tr>{% endif %}
            {% if signal.return_value.is_pointer %}<tr><td title="transfer: {{ signal.return_value.transfer }}">{{ signal.return_value.transfer_note }}</td></tr>{% endif %}
            {% if signal.return_value.is_pointer and signal.return_value.nullable %}<tr><td>The return value can be <code>NULL</code>.</td></tr>{% endif %}
            {% if signal.return_value.string_note %}<tr><td>{{ signal.return_value.string_note }}</td></tr>{% endif %}
            </table>
          </div>
        </div>
      </div>
    </div>
    {% endif %}

  </section>
</section>
{% endblock %}
